*, *::before, *::after{
    box-sizing: border-box;
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    overflow: hidden;
    background-color: #212121;
}

#root{
    height: 100%;
}

.app{
    background-color: #212121;
    display: flex;
    height: 100%;
    width: 100%;
}