.chats{
    width: 100%;
    max-width: 700px;
    height: 100%;
    overflow-y: auto;
    padding: 2rem 1rem 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.emptyState{
    width: 100%;
    max-width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem 3rem;
}

.emptyState h1{
    margin: 0;
    font-size: 2.8rem;
    font-weight: 700;
}

.chats::-webkit-scrollbar {
    display: none;
}

.chats{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
    /* background-color: #323232; */
    background-color: #061730;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: auto;
    max-width: 500px;
    width:fit-content;
}

.gptDiv{
   background-color: #08090b;
    padding: 10px 20px;
    border-radius: 14px;
    margin-right: auto;
    max-width: 700px;
    width:fit-content;
}

.hljs{
    border-radius: 14px !important;
}

pre{
    white-space: pre-wrap;
}
